/* típus szelektor*/
h1, h2 {
    text-align: center;
}

img {
    width:250px;
    height: 250px;
}

/*ID szelektor*/
 #color-background {
    background: blue;
    color:white;
}

 /* class szelektor*/ 
.circle-picture {
    border-radius: 50%;
}
   
.color-h2 {
    color:blue;
}

/*pseudo-class selector*/
h1:hover, h2:hover, p:hover {
    color:yellow;
  }